.img{
    margin-left:725px;
    margin-top:250px;
}
.btn{
    margin-top:20px;
    margin-left:765px;
}
input{
    margin-top:10px;
    width:500px;
    margin-left:650px;
    height:24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
}
.bdy{
    display:block;
}
.ggl{
    padding-top:8px;
    padding-bottom: 8px;
    padding-left:16px;
    padding-right:16px;
    border:1px solid #dfe1e5;
    border-radius:4px;
    background:#dfe1e5;
    font-size:14px;
    margin-right: 5px;
}
.quote{
    padding-top:8px;
    padding-bottom: 8px;
    padding-left:16px;
    padding-right:16px;
    border:1px solid #dfe1e5;
    border-radius:4px;
    background:#dfe1e5;
    font-size:14px;
    margin-left:5px;
}